@theme {
  /* Category: Reset Colors */
  --color-*: initial;

  /* Category: Primary Colors */
  --color-primary-0: oklch(47% 0.17 35);
  --color-primary-10: oklch(52% 0.17 35);
  --color-primary-20: oklch(62% 0.17 35);
  --color-primary-30: oklch(80% 0.12 37);
  --color-primary-40: oklch(100% 0 none);
  --color-primary-50: oklch(100% 0 none);
  --color-primary-60: oklch(100% 0 none);
  --color-primary-70: oklch(100% 0 none);
  --color-primary-80: oklch(100% 0 none);
  --color-primary-90: oklch(100% 0 none);
  --color-primary-95: oklch(100% 0 none);
  --color-primary-100: oklch(100% 0 none);
  --white: #fff;
  --black: #000;

  /* Category: Pallete Colors */
  --color-primary: light-dark(oklch(55% 0.18 34.884), oklch(45% 0.18 34.884));
  --color-on-primary: light-dark(#ffffff, #000000);
  --color-primary-container: light-dark(oklch(90% 0.072 34.884), oklch(25% 0.108 34.884));
  --color-on-primary-container: light-dark(#000000, #ffffff);
  --color-secondary: light-dark(oklch(55% 0.144 64.884), oklch(45% 0.144 64.884));
  --color-on-secondary: light-dark(#ffffff, #000000);
  --color-secondary-container: light-dark(oklch(89% 0.063 64.884), oklch(23% 0.099 64.884));
  --color-on-secondary-container: light-dark(#000000, #ffffff);
  --color-tertiary: light-dark(oklch(55% 0.126 94.884), oklch(45% 0.126 94.884));
  --color-on-tertiary: light-dark(#ffffff, #000000);
  --color-tertiary-container: light-dark(oklch(88% 0.054 94.884), oklch(22% 0.09 94.884));
  --color-on-tertiary-container: light-dark(#000000, #ffffff);
  --color-error: light-dark(oklch(60% 0.162 25), oklch(50% 0.162 25));
  --color-on-error: light-dark(#ffffff, #000000);
  --color-error-container: light-dark(oklch(95% 0.05 25), oklch(25% 0.15 25));
  --color-on-error-container: light-dark(#000000, #ffffff);
  --color-background: light-dark(oklch(98% 0.005 34.884), oklch(12% 0.01 34.884));
  --color-on-background: light-dark(#000000, #ffffff);
  --color-surface: light-dark(oklch(96% 0.01 34.884), oklch(15% 0.01 34.884));
  --color-on-surface: light-dark(#000000, #ffffff);
  --color-surface-variant: light-dark(oklch(93% 0.012 34.884), oklch(25% 0.02 34.884));
  --color-on-surface-variant: light-dark(#000000, #ffffff);
  --color-outline: light-dark(oklch(65% 0.03 34.884), oklch(75% 0.03 34.884));
  --color-outline-variant: light-dark(oklch(88% 0.015 34.884), oklch(40% 0.015 34.884));
  --color-shadow: oklch(0% 0 none);
  --color-scrim: oklch(0% 0 none);
  --color-inverse-surface: light-dark(oklch(25% 0.02 34.884), oklch(90% 0.02 34.884));
  --color-inverse-on-surface: light-dark(#ffffff, #000000);
  --color-inverse-primary: light-dark(oklch(90% 0.1 34.884), oklch(60% 0.15 34.884));

  /* Category: Scale */
  --scale: 1;

  /* Category: Base */
  --base: 1rem;

  /* Category: Reset spacing */
  --spacing-*: initial;

  /* Category: Spacing */
  --spacing-0: 0;
  --spacing-xs: calc(var(--scale) * var(--base) * 0.25);
  --spacing-sm: calc(var(--scale) * var(--base) * 0.5);
  --spacing-md: calc(var(--scale) * var(--base) * 1);
  --spacing-lg: calc(var(--scale) * var(--base) * 1.5);
  --spacing-xl: calc(var(--scale) * var(--base) * 2);
  --spacing-full: 100%;

  /* Category: FontSize */
  --font-size-xs: calc(var(--scale) * var(--base) * 0.75);
  --font-size-sm: calc(var(--scale) * var(--base) * 0.875);
  --font-size-md: calc(var(--scale) * var(--base) * 1);
  --font-size-lg: calc(var(--scale) * var(--base) * 1.25);
  --font-size-xl: calc(var(--scale) * var(--base) * 1.5);

  /* Category: BorderRadius */
  --radius-0: 0;
  --radius-xs: calc(var(--scale) * var(--base) * 0.25);
  --radius-sm: calc(var(--scale) * var(--base) * 0.375);
  --radius-md: calc(var(--scale) * var(--base) * 0.5);
  --radius-lg: calc(var(--scale) * var(--base) * 0.75);
  --radius-xl: calc(var(--scale) * var(--base) * 1);
  --radius-full: calc(var(--scale) * var(--base) * 999);
  --radius-default: var(--radius-md);

  /* Category: Shadows */
  --shadow-0: none;
  --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-sm: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-md: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --shadow-full: 0 0 0 100vh rgba(0, 0, 0, 0.5);

  /* Category: Drop Shadows */
  --drop-shadow-0: none;
  --drop-shadow-xs: 0 1px 1px rgb(0 0 0 / 0.05);
  --drop-shadow-sm: 0 1px 2px rgb(0 0 0 / 0.15);
  --drop-shadow-md: 0 3px 3px rgb(0 0 0 / 0.12);
  --drop-shadow-lg: 0 4px 4px rgb(0 0 0 / 0.15);
  --drop-shadow-xl: 0 9px 7px rgb(0 0 0 / 0.1);
  --drop-shadow-full: 0 25px 25px rgb(0 0 0 / 0.15);

  /* Category: Inset Shadows */
  --inset-shadow-0: none;
  --inset-shadow-xs: inset 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --inset-shadow-sm: inset 0 4px 6px -1px rgb(0 0 0 / 0.1), inset 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --inset-shadow-md: inset 0 10px 15px -3px rgb(0 0 0 / 0.1), inset 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --inset-shadow-lg: inset 0 20px 25px -5px rgb(0 0 0 / 0.1), inset 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --inset-shadow-xl: inset 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --inset-shadow-full: inset 0 0 0 100vh rgba(0, 0, 0, 0.5);

}
